body {
  background-color: #ECECD1;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  /*-webkit-user-drag: auto;*/
  /*padding: 20px 10px 15px 10px;*/
  font-size: 13px;
  background-color: rgb(232, 230, 232);
  background-image: linear-gradient(rgb(232, 230, 232) 0%, rgb(209, 207, 209) 100%);
  border-bottom-color: rgb(194, 192, 194);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.title {
  padding-top: 4px;
  text-align: center;
  /*-webkit-app-region: drag;*/
  -webkit-user-select: none;
}

#titleLowerBar {
  /*-webkit-app-region: drag;*/
  -webkit-user-select: none;
}

.search {
  font-size: 13px;
  padding: 2px;
  height: 25px;
  margin-top: 7px;
  -webkit-app-region: no-drag;
}

.nav-section {
  padding-left: 10px;
}

.button.nav-btn {
  background-color: white;
  color: #424242;
  padding: 4px;
  margin-top: 10px;
  font-size: 13px;
  -webkit-app-region: no-drag;
}

.settingsBar {
  min-height: 30px;
}

.button.close-btn {
  border-radius: 45%;
  background-color: rgb(232, 230, 232);
  color: rgb(232, 230, 232);
  padding: 2px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
  font-size: 8px;
  -webkit-app-region: no-drag;
  border: 1px solid #aaaaaa;
}
.button.close-btn:hover {
  color: #424242;
  background-color: #F07241;
  border: 1px solid #424242;
}

.buttons {
  float: left;
}

.settingsBody {
  min-height: 200px;
}

.add-dvd {
  margin-top: 10px;
  -webkit-app-region: no-drag;
}

#app {
  min-height: 600px;
  height: 100%;
}

.dvds-list {
  background-color: white;
  padding: 20px;
}
.dvds-list .column {
  margin-bottom: 20px;
}

.dvd-container {
  background-color: #ffffff;
}

.dvd-title {
  margin-top: 10px;
}

.dvd-attr li:nth-child(odd) {
  background: #eeeeee;
}
.dvd-attr li {
  margin: 10px 0;
  padding: 5px;
}

.dvd-info {
  overflow-y: scroll;
}

.player {
  max-width: 490px;
}
